* {
    margin: 0;
    padding: 0;
}

HTML, BODY {
    height: 100%;
}

BODY {
    font-family: arial, sans-serif;
    font-size: 16px;
    position: relative;

}

.container {
    margin: 0 auto;
    overflow: hidden;
    width: 600px;
    min-height: 200px;
    position: relative;
    top: 30%;

}

h1 {
    font-size: 4em;
    font-family: arial;
    color: darkcyan;
    margin-bottom: .1em;
    transition: color 0.1s linear;
    cursor: default;
    display: inline-block;
}

.ext {
    color: gainsboro;
    transition: color 0.2s ease;
}

.pic {
    display: inline-block;
    vertical-align: middle;
}

.info {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: gainsboro;
    margin-left: 2em;
}

/*
h2, h3 {
transition: color 0.2s ease;
}
*/
img {
    width: 190px;
}

h1:hover {
    color: gainsboro;
}

h1:hover > .ext {
    color: darkcyan;
}

.contacts {
    font-size: 1em;
    line-height: 24px;
}

.contacts ul {
    list-style-type: none;
}

a {
    color: darkcyan;
    text-decoration: none;
    transition: color 0.1s ease;
}

a:hover {
    color: #005e5e;
}

/*
h1:hover ~ div h2,h1:hover ~ div h3 {
	color: darkcyan;
}
*/