* {
    margin: 0;
    padding: 0;
}

HTML, BODY {
    height: 100%;
}

BODY {
    font-family: arial, sans-serif;
    position: relative;
}

.container {
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -150px;
    margin-top: -100px;
}

h1 {
    font-size: 3.5em;
    color: darkcyan;
    transition: color 0.3s linear;
    cursor: default;
    display: inline-block;
}

.ext {
    visibility: hidden;
    color: gainsboro;
    opacity: 0;
    margin-left: -500px;
    transition: visibility 0.3s linear, opacity 0.3s linear, margin-left 0.2s step-end;
}

.intro {
    text-align: left;
    color: gainsboro;
    vertical-align: bottom;
}

h1:hover {
    color: gainsboro;
}

h1:hover .ext {
    visibility: visible;
    opacity: 0.7;
    margin: 0;
}

.cover {
    overflow: hidden;
}

.contacts {
    font-size: 1em;
    line-height: 24px;
}

.contacts ul {
    list-style-type: none;
}

a {
    color: darkcyan;
    text-decoration: none;
    transition: color 0.1s ease;
}

a:hover {
    color: #005e5e;
}

/*
h1:hover ~ div h2,h1:hover ~ div h3 {
	color: darkcyan;
}
*/